@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(
    235deg,
    rgb(255, 255, 255) 0%,
    hsla(236, 100%, 72%, 1) 100%
  );
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
